<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bwang.currentregime.weekly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/benson/Projects/magikarp/run_weekly.sh</string>
  </array>
  <!-- Mondays at 8:00 AM local time -->
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key><integer>1</integer>
    <key>Hour</key><integer>8</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/benson/Projects/magikarp</string>
  <key>StandardOutPath</key>
  <string>/Users/benson/Projects/magikarp/weekly.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/benson/Projects/magikarp/weekly.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
